/* Global Styles */
* {
    font-family: 'Calibri Light', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --primary-color: #4BB819;
    --secondary-color: #8619B8;
    --background-color: #333333;
    --text-color: #ffffff;
}

/* Page Styles */
body {
  margin: 1.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Search Bar Styles */
#search-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 1px;

  #search-input {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0.5rem;
    height: 45px;
    border-radius: 2px;
  }

  #search-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 2px;
  }
}

/* Results Section Styles */
h2 {
  margin: 1rem 0;
}

/* Meme Gallery Styles */
.meme-gallery {
  columns: 6 12rem;
  list-style-type: none;
  gap: 0.5rem;

  .meme-card {
    width: 100%;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Editor Container Styles */
#editor-container {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  gap: 20px;
  background: var(--text-color);
  padding: 20px;
  border-radius: 4px;

  /* Meme Preview Styles */
  #meme-preview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    #meme-canvas {
      max-width: 100%;
      height: auto;
      background-color: #ddd;
    }
  }

  /* Editor Controls Styles */
  #editor-controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .box-row {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;

      .text-container {
        flex: 1;

        .text {
          width: 100%;
          height: 60px;
          padding: 8px;
          font-size: 16px;
          resize: vertical;
        }
      }

       /* Text Settings Styles */
      .text-settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    /* Generate Button Styles */
    #generate-button {
      display: block;
      width: 50%;
      background-color: var(--primary-color);
      color: var(--text-color);
      font-weight: 500;
      font-size: 1.25rem;
      padding: 0.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      &[disabled] {
        cursor: default;
      }
    }

    /* Download Button Styles */
    #download-button {
      display: block;
      width: 50%;
      margin-top: 12px;
      padding: 10px 20px;
      background-color: var(--secondary-color);
      color: var(--text-color);
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: opacity 0.2s ease, background-color 0.2s ease, transform 0.1s ease;
      animation: slideInAndFade 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    
      &:hover {
        background-color: #4d0a6c;
      }
    }
  }
}

/* Animation For Download Button Rendering */
@keyframes slideInAndFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Editor Container Mobile Styles */
@media (max-width: 768px) {
  #editor-container {
    flex-direction: column;

    #editor-controls {
      #generate-button, #download-button {
        width: 100%;
      }
    }
  }
}